body{
    display: grid;
    grid-template-areas:
        'header header header header header header'
        'main main main main main main'
        'footer footer footer footer footer footer';
    margin: 0; 
}
header{
    grid-area: header;
    padding: 10px;
    height: fit-content;
}
header > button{
    border-radius: 10px;
    border: none;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    margin: 5px;
    height: 64px;
}
main {
    grid-area: main;
    text-align: center;
 
}
article{
    padding: 10px;
}
footer {
    grid-area: footer;
    padding: 10px;
}