body{
    margin: 0;
}
header {
    padding: 10px;
}
header > img[alt="i18n"]{
    height: 64px;
    float: right;
}
header > button{
    border-radius: 10px;
    border: none;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    height: 64px;
}
.where_to_start{
    text-align: center;
    padding-top: 20px;
}
.where_to_start > h1{
    padding: 20px;
}
.left_nav{
    float:left;
    position: fixed;
    text-align: center;
    width: 15%;
    height: 100%;
}

article{
    width: 84%;
    float:right;
}
article>*{
    padding-left: 10px;
}
section{
    text-align: center;
}

.error{
    text-align: center;
    background-color: #0d1721;
    border-radius: 10px;
    color:#CFD8DC;
    width: fit-content;
    padding: 10px;
    margin: 10px auto;
}
.error > a{
    color: #7CB342;
}
code{
    width: fit-content;
    border-radius: 10px;
}
/*Responsive size*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
